<h2>Create New Match</h2>
<form (ngSubmit)="submitMatch()">
  > hey


    <input matInput formControlName="eventName" placeholder="Event Name">

</form>
<!--<form [formGroup]="matchForm" (ngSubmit)="submitMatch()">
  <mat-form-field>
    <input matInput formControlName="eventName" placeholder="Event Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="matchDateTime" placeholder="Match Date and Time" type="datetime-local">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="country" placeholder="Country">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="city" placeholder="City">
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="teamAId" placeholder="Select Team A" (selectionChange)="onTeamSelect('A', $event.value)">
      <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="teamBId" placeholder="Select Team B" (selectionChange)="onTeamSelect('B', $event.value)">
      <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Create Match</button>
</form>
  -->
